# Ignorar arquivos de saída binária e de build
build/
bin/
*.o
*.obj
*.exe
*.out
*.a
*.so
*.lib
*.dll
*.dylib
# Diretórios de build do CMake
/cmake-build-debug/
/CMakeCache.txt
/CMakeFiles/
/build/
/CMakeLists.txt.user

# Ignorar logs e arquivos temporários
*.log
*.tmp

# Ignorar arquivos de projetos do CLion e IDEs
.idea/
*.iml

# Ignorar outros arquivos do sistema
.DS_Store
Thumbs.db
